.headermenu{
  background-color:red;
}

.headermenu > ul {
  display:flex;
  list-style-type:none;
}

.headermenu li a{
  text-decoration:none;
}

.headermenu li ul{
  display:none;
}

.headermenu li ul {
  margin:0;
  padding:0;
  position:absolute;
  list-style-type:none;
  z-index:10;
}

.headermenu ul li:hover ul {
  display:block;
}

.headermenu ul li {
  line-height:50px;
  margin: 0 0px;
  padding:0;
  text-align:center;
  min-width:120px;
  z-index:10;
  background:red;
}

