.smartphone_only{
  display:inherit;
}

.pc_only{
  display:initial;
}


@media (min-width: 768px) {
  .smartphone_only{
    display: none;
  }
}

@media (max-width: 768px) {
  .pc_only{
    display: none;
  }
}

