.showcase{
  height:280px;
  position:relative;
  > * {
    top:0;
    left:0;
    position:absolute;
  }

  :global{
    .fade-enter {
      opacity: 0;
      z-index: 1;
    }
    .fade-enter-active {
      transition: opacity 1s ease 1s;
      opacity: 1;
    }
    .fade-exit {
      opacity: 1;
      z-index: 0;
    }
    .fade-exit-active {
      transition: opacity 1s ease 2s;
      opacity: 0;
    }
  }
}

